<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="{%static 'yogios/css/bootstrap.min.css'%}">
    <script src="{% static 'yogios/js/jquery.min.js'%}"></script>
    <script src="{% static 'yogios/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'yogios/js/datatables.min.js'%}"></script>
    <!--<link rel="stylesheet" href="{%static 'yogios/css/bootstrap-multiselect.css'%}">-->
    <link rel="stylesheet" href="{%static 'yogios/css/bootstrap-select.min.css'%}">
    <link rel="stylesheet" href="{%static 'yogios/css/datatables.min.css'%}">
    <title>{{title}}</title>
</head>
<body>
<!--<br>-->
{% if user.is_authenticated %}
<nav class="navbar-default" style="background-images:none;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/yogios">YogiOS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Configure <span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/yogios/configs">Server</a></li>
                    <li><a href="#">Database</a></li>
                    <li><a href="#">Switch</a></li>
                    <li><a href="#">Printer</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/yogios/viewserver">Server</a></li>
                    <li><a href="#">Database</a></li>
                    <li><a href="#">Switch</a></li>
                    <li><a href="#">Printer</a></li>
                </ul>
            </li>
            <li><a href="/yogios/discovery">Discovery</a></li>
            <li><a href="/yogios/alerts">Alerts</a></li>
            <li><a href="/yogios/reports">Reports</a></li>

            <li><a href="/admin">Administration</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/yogios/logout" class="" name="logout">Logout</a></li>
        </ul>
    </div>
</nav>
{% endif%}
{% block body %}
{% endblock %}
</body>
</html>