{% extends 'yogios/base.html' %}

{% block body %}
<div class="container">
    {% if method == 'GET' %}
    <form method="post">
        {% csrf_token%}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit" name="save">Save</button>
    </form>
    {% else %}
    <h3>Server Configured Successfully!</h3>
    <a class="btn btn-info" href="/yogios/configs">Configure More</a>
    {% endif %}
</div>
{% endblock %}