{% extends 'yogios/base.html' %}

{% block body %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="container">
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Server Config</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                {% for field in form.visible_fields|slice:":11" %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="col-md-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    <div class="col-md-4">
                        {{ field|add_class:"form-control"}}
                    </div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-dangee">Test</button>
                </div>
                {% for field in form.visible_fields|slice:"11:" %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="col-md-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    <div class="col-md-4">
                        {{ field|add_class:"form-control"}}
                    </div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% load static %}
<!--<script src="{% static 'yogios/js/bootstrap-multiselect.js'%}"></script>-->
<!--<script src="{% static 'yogios/js/bootstrap-select.min.js'%}"></script>-->
<!--<script src="{% static 'yogios/js/serverconfig.js' %}"></script>-->
{% endblock %}