{% extends 'yogios/base.html' %}

{% block body %}
<div class="container">
    <!--<h3>Welcome {{name}}</h3>-->
    <!--Login Here !-->
    <!--<button class="btn btn-success" type="button" name="login">Login</button>-->
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }} </h1>
    <!--<a href="logout" class="btn btn-danger" role="button" name="logout">Logout</a>-->
    {% else %}
    <h1>Welcome</h1>
    <form method="post">
        {% csrf_token%}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" name="login">Login</button>
    </form>
    {% endif %}
</div>
{% endblock %}
