{% extends 'yogios/base.html' %}

{% block body %}
<br>
<div class="container">
    {% if method == 'GET' %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Server Configuration</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                {% csrf_token%}
                <fieldset>

                    <!-- Form Name -->
                    {% load myfilters %}
                    {% for field in form.visible_fields|slice:":10" %}
                    <div class="form-group" id="id_div_{{field.html_name}}">
                        <label class="col-md-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-md-4">
                            {{field|addclass:'form-control show-menu-arrow'}}
                        </div>
                    </div>
                    {% endfor %}
                    <!--Test Button-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="servertest">Test Credentials</label>
                        <div class="col-md-4">
                            <button id="servertest" name="servertest" class="btn btn-warning" type="button">Test
                            </button>
                        </div>
                    </div>
                    <!--Monitor Select-->
                    {% for field in form.visible_fields|slice:"10:11" %}
                    <div class="form-group" id="id_div_{{field.html_name}}">
                        <label class="col-md-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-md-4">
                            <select id="{{field.auto_id}}" name="{{field.html_name}}"
                                    class="selectpicker show-menu-arrow" multiple="multiple">
                                <option value="service" {% if "service" in field.value|split:','%}selected=""{%endif%}>Service</option>
                                <option value="process" {% if "process" in field.value|split:','%} selected=""{%endif%}>Process</option>
                                <option value="drive" {% if "drive" in field.value|split:','%} selected=""{%endif%}>Drive</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                    <!--Get Server Data Button-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="getserverdata"></label>
                        <div class="col-md-4">
                            <button id="getserverdata" name="getserverdata" class="btn btn-info" type="button">Get Data
                                <span id="refresh" class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>
                    <!--Process Service and Monitoring Selection-->
                    {% for field in form.visible_fields|slice:"11:14" %}
                    <div class="form-group" id="id_div_{{field.html_name}}">
                        <label class="col-md-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-md-4">
                            {%comment%}{{field|addclass:''}}{%endcomment%}
                            <select id="{{field.auto_id}}" name="{{field.html_name}}"
                                    class="selectpicker show-menu-arrow" multiple="multiple">
                                {%if field.value%}
                                {%for option in field.value|split:','%}
                                <option selected="">{{option}}</option>
                                {%endfor%}
                                {%endif%}
                            </select>
                        </div>
                    </div>
                    {% endfor %}

                    {% for field in form.visible_fields|slice:"14:" %}
                    <input id="{{field.auto_id}}" name="{{field.html_name}}" placeholder="" class="" type="hidden"
                           value="{% if field.value %}{{field.value}}{% endif %}">
                    {% endfor %}
                    <!--Submit Button-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>

                    {% comment %}
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ip">IP</label>
                        <div class="col-md-4">
                            <input id="ip" name="ip" placeholder="" class="form-control input-md" required=""
                                   type="text" value="{% if form.ip.value %}{{form.ip.value}}{% endif %}">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Alias/Name</label>
                        <div class="col-md-4">
                            <input id="name" name="name" placeholder="" class="form-control input-md" required=""
                                   type="text" value="{% if form.name.value %}{{form.name.value}}{% endif %}">

                        </div>
                    </div>


                    <input id="id_os" type="hidden" name="os"
                           value="{% if form.os.value %}{{form.os.value}}{% endif %}">
                    <input id="id_board" type="hidden" name="board"
                           value="{% if form.board.value %}{{form.board.value}}{% endif %}">
                    <input id="id_product" type="hidden" name="product"
                           value="{% if form.product.value %}{{form.product.value}}{% endif %}">
                    <input id="id_cpu" type="hidden" name="cpu"
                           value="{% if form.cpu.value %}{{form.cpu.value}}{% endif %}">
                    <input id="id_ram" type="hidden" name="ram"
                           value="{% if form.ram.value %}{{form.ram.value}}{% endif %}">
                    <!--<input id="id_socket" type="hidden" name="socket" value="">-->
                    <input id="id_hostname" type="hidden" name="hostname"
                           value="{% if form.hostname.value %}{{form.hostname.value}}{% endif %}">
                    <!--<input id="id_id" type="hidden" name="id" value="{% if form.id.value %}{{form.id.value}}{% endif %}">-->
                    <!-- Multiple Radios -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="protocol">Protocol</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label for="protocol-0">
                                    <input name="protocol" id="protocol-0" value="wmi" checked="checked" type="radio">
                                    WMI
                                </label>
                            </div>
                            <div class="radio">
                                <label for="protocol-1">
                                    <input name="protocol" id="protocol-1" value="ssh" type="radio">
                                    SSH
                                </label>
                            </div>
                            <div class="radio">
                                <label for="protocol-2">
                                    <input name="protocol" id="protocol-2" value="snmp" type="radio">
                                    SNMP
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" id="id_div_wusername">
                        <label class="col-md-4 control-label" for="wusername">WMI Username</label>
                        <div class="col-md-4">
                            <input id="wusername" name="wusername" placeholder="" class="form-control input-md"
                                   required="" type="text"
                                   value="{% if form.wuser.value %}{{form.wuser.value}}{% endif %}">

                        </div>
                    </div>
                    <!-- Password input-->
                    <div class="form-group" id="id_div_wpassword">
                        <label class="col-md-4 control-label" for="wpassword">WMI Password</label>
                        <div class="col-md-4">
                            <input id="wpassword" name="wpassword" placeholder="" class="form-control input-md"
                                   required="" type="password"
                                   value="{% if form.wpswd.value %}{{form.wpswd.value}}{% endif %}">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" id="id_div_suser">
                        <label class="col-md-4 control-label" for="suser">SSH Username</label>
                        <div class="col-md-4">
                            <input id="suser" name="suser" placeholder="" class="form-control input-md" type="text"
                                   value="{% if form.suser.value %}{{form.suser.value}}{% endif %}">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group" id="id_div_spswd">
                        <label class="col-md-4 control-label" for="spswd">SSH Password</label>
                        <div class="col-md-4">
                            <input id="spswd" name="spswd" placeholder="" class="form-control input-md" type="password"
                                   value="{% if form.spswd.value %}{{form.spswd.value}}{% endif %}">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group" id="id_div_sport">
                        <label class="col-md-4 control-label" for="sport">SSH Port</label>
                        <div class="col-md-1">
                            <input id="sport" name="sport" placeholder="" class="form-control input-md" type="text"
                                   value="{% if form.sport.value %}{{form.sport.value}}{% else %}22{% endif %}">
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group" id="id_div_skey">
                        <label class="col-md-4 control-label" for="skey">SSH Key</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="skey" name="skey" style="resize:none;"></textarea>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group" id="id_div_cstrng">
                        <label class="col-md-4 control-label" for="cstrng">SNMP Community</label>
                        <div class="col-md-4">
                            <input id="cstrng" name="cstrng" placeholder="" class="form-control input-md"
                                   type="password"
                                   value="{% if form.hostname.value %}{{form.hostname.value}}{% endif %}">

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="servertest">Test Credentials</label>
                        <div class="col-md-4">
                            <button id="servertest" name="servertest" class="btn btn-warning" type="button">Test
                            </button>
                        </div>
                    </div>
                    <!-- Multiple Checkboxes -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="checkboxes">Monitoring</label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label for="checkboxes-0">
                                    <input name="checkboxes" id="checkboxes-0" value="s" type="checkbox">
                                    Service
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="checkboxes-1">
                                    <input name="checkboxes" id="checkboxes-1" value="p" type="checkbox">
                                    Process
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="checkboxes-2">
                                    <input name="checkboxes" id="checkboxes-2" value="d" type="checkbox">
                                    Disk
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="getserverdata"></label>
                        <div class="col-md-4">
                            <button id="getserverdata" name="getserverdata" class="btn btn-info" type="button">Get Data
                                <span
                                        id="refresh" class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="services">Select Service(s)</label>
                        <div class="col-md-4">
                            <select id="services" name="services" class="form-control show-menu-arrow"
                                    multiple="multiple">
                            </select>
                        </div>
                    </div>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="processes">Select Process(s)</label>
                        <div class="col-md-4">
                            <select id="processes" name="processes" class="form-control show-menu-arrow"
                                    multiple="multiple">
                            </select>
                        </div>
                    </div>

                    <!-- Select Multiple -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="drives">Select Drive(s)</label>
                        <div class="col-md-4">
                            <select id="drives" name="drives" class="form-control show-menu-arrow" multiple="multiple">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                    {% endcomment %}

                </fieldset>

            </form>
        </div>
    </div>
    {% else %}
    <h3>Server Configured Successfully!</h3>
    {% endif %}
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Server Info</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% load static %}
<!--<script src="{% static 'yogios/js/bootstrap-multiselect.js'%}"></script>-->
<script src="{% static 'yogios/js/bootstrap-select.min.js'%}"></script>
<script src="{% static 'yogios/js/serverconfig.js' %}"></script>
{% endblock %}
