{% extends 'yogios/base.html' %}

{% block body %}
<br>
<div class="container">
<table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>IP</th>
        <th>Name</th>
        <th>Hostname</th>
        <th>Action</th>
    </tr>
    </thead>
</table>
</div>
{% load static %}
<script src="{% static 'yogios/js/viewserver.js' %}"></script>
{% endblock %}